<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/Welcome.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>CronoVirus information</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <ul class="nav">
  <li><a class="navbar-brand" href="{% url 'index' %}">HOME</a></li>
  <li><a class="nav-link" href="{% url 'origin' %}">Origin</a></li>
  <li><a class="nav-link" href="{% url 'symptoms' %}">Symptoms</a></li>
  <li><a class="nav-link" href="{% url 'figures' %}">Data</a></li>
      </ul>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
    <div class="main">
    <center><h1> A Place To Get CoronaVirus Information</h1></centre>
    </div>
  </centre>
    <br>
    <br>
    <br>
    <br>
    <br>
  </body>
</html>
